# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/
.venv/

# Django
media/
staticfiles/

# Node / frontend
node_modules/
dist/
build/

# OS / editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
